/*ini file form*/
body{
	background-color:white;
}
nav a{
    font-family:sans-serif;
}
label{
    font-size:23;
    color:white;
}
.label1{
	background-color:#17a2b8;
	padding:30px;
    margin:15px 30px;
    border:1px;
    border-radius:5px;
}
.label2{
	background-color:#17a2b8;
	padding:30px;
	margin:15px 30px;
	border:1px;
    border-radius:5px;
}
.label3{
	background-color:#17a2b8;
	padding:30px;
	margin:15px 30px;
	border:1px;
    border-radius:5px;
}
.label4{
	background-color:#17a2b8;
	padding:30px;
	margin:15px 30px;
	border:1px;
    border-radius:5px;
}

.label1 input{
	background-color:white;
	border:1px;
    border-radius:5px;
}
.label2 select{
	padding:5px 30px ;
	background-color:white;
	border:1px;
	border-radius:5px;
}
.label2 select option{
	color:darkcyan;
	border-radius:20px;
	}
.label3 input{
	background-color:white;
	border:1px;
    border-radius:5px;
}
.label4 input{
	background-color:white;
	border:1px;
    border-radius:5px;
}
.submit button{
	background-color:#17a2b8;
	padding:20px 40;
    margin:5px 15px;
    border:1px;
    border-radius:5px;
    font-size:20px;
}
/*ini bagian file hitung*/
.nama{
	border:1px white solid;
    border-radius:5px;
    background-color:#17a2b8;
    color:darkgray;
    margin-bottom:15px;
    margin:15px 25px;

}
.nama h4{
	background-color:white;
	color:#17a2b8;
	padding:10px 10px;
	margin:40px 40px;
	border-radius:3px;
	font-size:23px;
}

.kelamin{
	border:1px white solid;
    border-radius:5px;
    background-color:#17a2b8;
    color:darkgray;
    margin-bottom:15px;
    margin:15px 25px;

}
.kelamin h4{
	background-color:white;
	color:#17a2b8;
	padding:10px 10px;
	margin:40px 40px;
	border-radius:3px;
	font-size:23px;
}
.hasil{
	border:1px white solid;
    border-radius:5px;
    background-color:#17a2b8;
    color:darkgray;
    margin-bottom:15px;
    margin:15px 25px;

}
.hasil h4{
	background-color:white;
	color:#17a2b8;
	padding:10px 10px;
	margin:40px 40px;
	border-radius:3px;
	font-size:23px;
}
